
.bg-blue {
    background-color: #27374D;
    color: #fff;
}

.btn-blue {
    background-color: #526D82;
    border-color: #526D82;
}

.bg-gradient {
    background: linear-gradient(90deg, #4e54c8 0%, #8f94fb 100%);
    color: #fff;
}

.btn-gradient {
    background: linear-gradient(90deg, #4e54c8 0%, #8f94fb 100%);
    border-color: #4e54c8;
    color: #fff;
}

.bg-pink {
    background-color: #e91e63;
    color: #fff;
}

.btn-pink {
    background-color: #e91e63;
    border-color: #e91e63;
}

.card {
    margin-bottom: 20px;
}

